@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    font-size: 62.5%;
    --light-gray: #ccc;
    --black: #131111;
    --neon-green: rgb(49, 151, 151);
    --btn-background-color:#d4d4d44d;
    --td-text-color:#7e7e7e;
    --border-bottom-color:#f3e9e9;
    --inprogress-bg:#f4e9df;
    --inprogress-color:#f3800c;
    --done-color:rgb(49, 151, 151);
    --done-bg:rgb(219, 249, 249);
    --high-bg:rgb(252, 210, 202);
    --high-color:tomato; 
    --medium-bg:rgb(215, 225, 246);
    --medium-color:cornflowerblue;
    --todo-color:rgb(210, 53, 210);
    --todo-bg:rgb(246, 215, 243);
    --low-bg:rgb(219, 249, 249);
    --low-color:rgb(49, 151, 151);
    --span-empty-state-color:#444;
    --btn-initial-color:#f0f0f0;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    width: min(95%, 90%);
    margin-inline: auto;
    margin-block: 3rem;
}

img{
    width: 100%;
    display: block;
} 

.search-icon, .close-icon{
    width: 22px;
}
 .close-icon{
position: absolute;
top: 5px;
right: 12px;
cursor: pointer;
 }
.search-icon{
position: absolute;
top: 6px;
left: 12px;
cursor: text;
}

.search-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-filter-box{
    position: relative;
}

.search-input{
    width: 45vw;
    height: 32px;
    border: 1px solid var(--light-gray);
    border-radius: 3px;
    color: var(--black);
    text-indent: 4.2rem;
} 

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

.search-input::placeholder{
    text-indent: 4.2rem;
}

.search-input:focus-visible,.search-input:focus-within {
    outline-color: var(--neon-green);
    
}

.btn{
    all:unset;
    cursor: pointer;
    background-color: var(--btn-background-color);
    color: var(--neon-green);
    font-weight: 500;
    padding: 0.4em 0.6em;
    border-radius: 3px;
    font-size: 1.4rem;
}

.close-btn{
    all:unset;
    display: none;
}

.round-btn{
    border: none;
    padding: 0.1em 0.4em;
    border-radius: 100vmax;
    font-size: 1.3rem;
    cursor: pointer;
}

td{
    color: var(--td-text-color);
    font-size: 1.3rem;
    text-align: left;
    border-bottom: 1px solid var(--border-bottom-color);
    padding: 10px 0px;
    border-collapse: collapse;
}


.vertical-icon{
    font-size: 1.5rem;
    cursor: pointer;
font-weight: 600;
}


table{
    width: 100%;
    border-collapse: collapse;
}



.inprogress{
   background-color: var(--inprogress-bg);
  color: var(--inprogress-color);
}

.todo{  
    color: var(--todo-color);
  background-color: var(--todo-bg);
}

.done{
  color: var(--done-color);
 background-color: var(--done-bg);
}


.high{
  background-color: var(--high-bg);
  color: var(--high-color);
}

.medium{
    background-color: var(--medium-bg);
  color: var(--medium-color);
}

.low{
   background-color: var(--low-bg);
  color: var(--low-color);
}


.empty-state > .empty-state-search-icon{
width: 65px;
display: grid;
place-self: center;
margin-bottom: 1.2rem;
}
.empty-state{
    display: grid;
    justify-content: center;
    text-align: center;
}
.empty-state > span{
color: var(--span-empty-state-color);
font-size: 1.4rem;
}

.empty-state > h4{
color: var(--black);
}

thead  th {
  padding: 10px 6px 10px 6px;
  font-size: 1.4rem;
  color: var(--black);
text-align: left;
background-color: var(--btn-background-color);
}


.pagination{
    font-size: 1.3rem;
    color: var(--black);
    display: flex;
    margin-top: 1.7em;
    align-items: center;
    justify-content: space-between;
}

.flex{
    display: flex;
    gap: 1.5em;
}


.btn-container :is(button){
    padding: 0.4em 0.7em;
    border-radius: 100vmax;
    font-weight: 600;
    border: none;
    color: var(--black);
    margin: 1rem 0px 2rem 0px;
    cursor: pointer;
}

.filter-by-status{
    margin-top: 2rem;
}

.btn-container {
    display: flex;
    gap: 0.5em;
    color: var(--black);
}
.initial-color{
    background-color: #f0f0f0;
}
.highlight{
    background-color: var(--done-bg);
    color: var(--done-color) !important;
}